
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .Nav-icon{
    @apply w-6 h-6 cursor-pointer text-gray-500
  }
}
@layer base{
  body{
    @apply bg-neutral-100
  }
  html{
    font-family: "inter",sans-serif;
  }
}



html,


body {
  padding: 0;
  margin: 0;
 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
